In [1]:
#Installing tensorflow
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\pratik\anaconda3\lib\site-packages (2.8.0)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: protobuf>=3.9.2 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (3.19.4)
Requirement already satisfied: tensorboard<2.9,>=2.8 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (2.8.0)
Requirement already satisfied: absl-py>=0.4.0 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (1.0.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: setuptools in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (58.0.4)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (3.10.0.2)
Requirement already satisfied: flatbuffers>=1.12 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (2.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: six>=1.12.0 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (3.2.1)
Requirement already satisfied: gast>=0.2.1 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (0.5.3)
Requirement already satisfied: numpy>=1.20 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (1.20.3)
Requirement already satisfied: keras-preprocessing>=1.1.1 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (0.24.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (1.44.0)
Requirement already satisfied: libclang>=9.0.1 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (13.0.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: tf-estimator-nightly==2.8.0.dev2021122109 in c:\users\pratik\anaconda3\lib\site-packages (from tensorflow) (2.8.0.dev2021122109)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\pratik\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.37.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\pratik\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\pratik\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.8.1)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\pratik\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.0.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\pratik\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.4.6)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\pratik\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.6.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\pratik\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (3.3.6)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\pratik\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.26.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\pratik\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (5.0.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\pratik\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\pratik\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\pratik\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\pratik\anaconda3\lib\site-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.8.1)
Requirement already satisfied: zipp>=0.5 in c:\users\pratik\anaconda3\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\pratik\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pratik\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\pratik\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pratik\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\pratik\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\pratik\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (3.2.0)

In [2]:
#Import the neccasary Libraries
import pandas as pd
import tensorflow as tf
tf.__version__

'2.8.0'

In [3]:
Hr = pd.read_csv(r'E:\Data science training\R AND PYTHON KPMG\stat and ml\ASSIGNMENT\Hr Interview Analysis.csv')
Hr.head()

,SLNO,Candidate.Ref,DOJ.Extended,Duration.to.accept.offer,Notice.period,Offered.band,Pecent.hike.expected.in.CTC,Percent.hike.offered.in.CTC,Percent.difference.CTC,Joining.Bonus,Candidate.relocate.actual,Gender,Candidate.Source,Rex.in.Yrs,LOB,Location,Age,Status
0,1,2110407,Yes,14,30,E2,-20.79,13.16,42.86,No,No,Female,Agency,7,ERS,Noida,34,1
1,2,2112635,No,18,30,E2,50.00,320.00,180.00,No,No,Male,Employee Referral,8,INFRA,Chennai,34,1
2,3,2112838,No,3,45,E2,42.84,42.84,0.00,No,No,Male,Agency,4,INFRA,Noida,27,1
3,4,2115021,No,26,30,E2,42.84,42.84,0.00,No,No,Male,Employee Referral,4,INFRA,Noida,34,1
4,5,2115125,Yes,1,120,E2,42.59,42.59,0.00,No,Yes,Male,Employee Referral,6,INFRA,Noida,34,1

In [4]:
Hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9011 entries, 0 to 9010
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   SLNO                         9011 non-null   int64
 1   Candidate.Ref                9011 non-null   int64
 2   DOJ.Extended                 9011 non-null   object
 3   Duration.to.accept.offer     9011 non-null   int64
 4   Notice.period                9011 non-null   int64
 5   Offered.band                 9011 non-null   object
 6   Pecent.hike.expected.in.CTC  9011 non-null   float64
 7   Percent.hike.offered.in.CTC  9011 non-null   float64
 8   Percent.difference.CTC       9011 non-null   float64
 9   Joining.Bonus                9011 non-null   object
 10  Candidate.relocate.actual    9011 non-null   object
 11  Gender                       9011 non-null   object
 12  Candidate.Source             9011 non-null   object
 13  Rex.in.Yrs                   9011 non-null   int64
 14  LOB                          9011 non-null   object
 15  Location                     9011 non-null   object
 16  Age                          9011 non-null   int64
 17  Status                       9011 non-null   int64
dtypes: float64(3), int64(7), object(8)
memory usage: 1.2+ MB

In [5]:
Hr.isnull().sum()

SLNO                           0
Candidate.Ref                  0
DOJ.Extended                   0
Duration.to.accept.offer       0
Notice.period                  0
Offered.band                   0
Pecent.hike.expected.in.CTC    0
Percent.hike.offered.in.CTC    0
Percent.difference.CTC         0
Joining.Bonus                  0
Candidate.relocate.actual      0
Gender                         0
Candidate.Source               0
Rex.in.Yrs                     0
LOB                            0
Location                       0
Age                            0
Status                         0
dtype: int64

In [6]:
cat_col = ['DOJ.Extended','Offered.band','Joining.Bonus','Candidate.relocate.actual','Gender','Candidate.Source','LOB','Location']
Hr_dummy = pd.get_dummies(Hr,columns=cat_col,drop_first=True)

In [7]:
Hr_dummy.head()

,SLNO,Candidate.Ref,Duration.to.accept.offer,Notice.period,Pecent.hike.expected.in.CTC,Percent.hike.offered.in.CTC,Percent.difference.CTC,Rex.in.Yrs,Age,Status,...,Location_Bangalore,Location_Chennai,Location_Cochin,Location_Gurgaon,Location_Hyderabad,Location_Kolkata,Location_Mumbai,Location_Noida,Location_Others,Location_Pune
0,1,2110407,14,30,-20.79,13.16,42.86,7,34,1,...,0,0,0,0,0,0,0,1,0,0
1,2,2112635,18,30,50.00,320.00,180.00,8,34,1,...,0,1,0,0,0,0,0,0,0,0
2,3,2112838,3,45,42.84,42.84,0.00,4,27,1,...,0,0,0,0,0,0,0,1,0,0
3,4,2115021,26,30,42.84,42.84,0.00,4,34,1,...,0,0,0,0,0,0,0,1,0,0
4,5,2115125,1,120,42.59,42.59,0.00,6,34,1,...,0,0,0,0,0,0,0,1,0,0

In [8]:
Hr_dummy.shape

(9011, 37)

# Splitting the data

In [22]:
Y = Hr_dummy[['Status']]
X = Hr_dummy.drop(columns=['Status','SLNO','Candidate.Ref'])

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42)
len(x_train),len(x_test),len(y_train),len(y_test)

(7208, 1803, 7208, 1803)

# Building the ANN
## Step 1: Initializing the ANN

In [25]:
ann = tf.keras.models.Sequential()

# Step 2: Adding the input layer and first hidden layer

In [26]:
ann.add(tf.keras.layers.Dense(units=4,activation='relu'))

# Step 3: Adding the second hidden layer

In [27]:
ann.add(tf.keras.layers.Dense(units=4,activation='relu'))

# Step 4: Adding the output layer

In [28]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

# Compiling the ANN

In [29]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics='accuracy')

# Training the ANN

In [30]:
ann.fit(x_train,y_train,batch_size=32,epochs=50)

Epoch 1/50
226/226 [==============================] - 2s 3ms/step - loss: 1.5552 - accuracy: 0.6090
Epoch 2/50
226/226 [==============================] - 1s 3ms/step - loss: 0.6145 - accuracy: 0.7805
Epoch 3/50
226/226 [==============================] - 1s 4ms/step - loss: 0.5205 - accuracy: 0.8022
Epoch 4/50
226/226 [==============================] - 1s 5ms/step - loss: 0.4940 - accuracy: 0.8077
Epoch 5/50
226/226 [==============================] - 1s 5ms/step - loss: 0.4813 - accuracy: 0.8120
Epoch 6/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4730 - accuracy: 0.8140
Epoch 7/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4675 - accuracy: 0.8141
Epoch 8/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4639 - accuracy: 0.8147
Epoch 9/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4607 - accuracy: 0.8147
Epoch 10/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4586 - accuracy: 0.8147
Epoch 11/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4561 - accuracy: 0.8147
Epoch 12/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4539 - accuracy: 0.8145
Epoch 13/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4519 - accuracy: 0.8141
Epoch 14/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4488 - accuracy: 0.8144
Epoch 15/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4460 - accuracy: 0.8147
Epoch 16/50
226/226 [==============================] - 1s 5ms/step - loss: 0.4436 - accuracy: 0.8152
Epoch 17/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4412 - accuracy: 0.8152
Epoch 18/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4384 - accuracy: 0.8148
Epoch 19/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4353 - accuracy: 0.8148
Epoch 20/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4321 - accuracy: 0.8162
Epoch 21/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4305 - accuracy: 0.8162
Epoch 22/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4280 - accuracy: 0.8166
Epoch 23/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4274 - accuracy: 0.8159
Epoch 24/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4259 - accuracy: 0.8166
Epoch 25/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4245 - accuracy: 0.8158
Epoch 26/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4236 - accuracy: 0.8166
Epoch 27/50
226/226 [==============================] - 1s 5ms/step - loss: 0.4230 - accuracy: 0.8158
Epoch 28/50
226/226 [==============================] - 1s 5ms/step - loss: 0.4223 - accuracy: 0.8155
Epoch 29/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4207 - accuracy: 0.8166
Epoch 30/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4207 - accuracy: 0.8156
Epoch 31/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4209 - accuracy: 0.8155
Epoch 32/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4193 - accuracy: 0.8162
Epoch 33/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4184 - accuracy: 0.8159
Epoch 34/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4187 - accuracy: 0.8162
Epoch 35/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4169 - accuracy: 0.8158
Epoch 36/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4179 - accuracy: 0.8169
Epoch 37/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4167 - accuracy: 0.8159
Epoch 38/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4162 - accuracy: 0.8156
Epoch 39/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4156 - accuracy: 0.8159
Epoch 40/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4157 - accuracy: 0.8162
Epoch 41/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4145 - accuracy: 0.8158
Epoch 42/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4138 - accuracy: 0.8169
Epoch 43/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4135 - accuracy: 0.8165
Epoch 44/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4130 - accuracy: 0.8156
Epoch 45/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4120 - accuracy: 0.8158
Epoch 46/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4114 - accuracy: 0.8162
Epoch 47/50
226/226 [==============================] - 1s 3ms/step - loss: 0.4113 - accuracy: 0.8158
Epoch 48/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4101 - accuracy: 0.8162
Epoch 49/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4087 - accuracy: 0.8169
Epoch 50/50
226/226 [==============================] - 1s 4ms/step - loss: 0.4084 - accuracy: 0.8153

In [31]:
y_test

      Status
93         0
7272       1
447        1
6519       0
3898       0
...      ...
8671       1
111        1
8742       1
7596       1
2215       0

[1803 rows x 1 columns]

In [32]:
y_test['Prediction'] = ann.predict(x_test)

In [33]:
y_test

      Status  Prediction
93         0    0.744025
7272       1    0.921737
447        1    0.857036
6519       0    0.720515
3898       0    0.514072
...      ...         ...
8671       1    0.729929
111        1    0.612248
8742       1    0.994860
7596       1    0.897441
2215       0    0.854705

[1803 rows x 2 columns]